In [6]:
import pandas as pd
import numpy as np

In [11]:
stage_1_data = pd.read_excel(r'C:\2025AUTUMN\MT\25HS_MT_Joy\25HS_MT_Joy\Data\Timbeco\Rapla-design\411_Spetsifikatsioonid\NP2424_TP_EK-9-01_v01_Etapp-1-elementide-koond_v1.xlsx', skiprows = 5,
                             usecols = "B")
stage_1_data = stage_1_data.dropna(subset=[stage_1_data.columns[0]]).reset_index(drop=True)

In [12]:
print(stage_1_data)

       Pos NR
0    VS-02-31
1    VS-02-22
2    VS-02-21
3     VS-01-2
4     VS-01-8
5    VS-02-29
6    VS-02-92
7     VS-01-3
8    VS-01-21
9    VS-02-28
10   VS-02-93
11  VS-02-106
12   VS-02-58
13  VS-02-105
14   PS-01-11
15    PS-01-7
16    PS-01-4
17    PS-01-8
18   PS-01-12
19   KSS-02-1
20   KSS-02-2
21  KSS-01-26
22   KSS-01-5
23  KSS-01-11
24   KSS-01-4

In [13]:
stage_2_data = pd.read_excel(r'C:\2025AUTUMN\MT\25HS_MT_Joy\25HS_MT_Joy\Data\Timbeco\Rapla-design\411_Spetsifikatsioonid\NP2424_TP_EK-9-03_v01_Etapp-2-elementide-koond.xlsx', skiprows = 5,
                                usecols = "B")
stage_2_data = stage_2_data.dropna(subset=[stage_2_data.columns[0]]).reset_index(drop=True)

In [17]:
stage_3_data = pd.read_excel(r'C:\2025AUTUMN\MT\25HS_MT_Joy\25HS_MT_Joy\Data\Timbeco\Rapla-design\411_Spetsifikatsioonid\NP2424_TP_EK-9-05_v01_Etapp-3-elementide-koond.xlsx', skiprows = 5,
                                usecols = "B:C")

In [19]:
stage_3_data = stage_3_data.dropna(subset=[stage_3_data.columns[0:2]]).reset_index(drop=True) # Drop rows where both columns are NaN

IndexError: boolean index did not match indexed array along axis 0; size of axis is 1 but size of corresponding boolean axis is 2

In [16]:
print(stage_2_data)

       Pos NR
0    VS-02-30
1    VS-02-23
2    VS-01-16
3     VS-01-7
4    VS-01-15
5     VS-01-6
6    VS-02-91
7    VS-02-36
8    KSS-01-7
9    KSS-01-9
10  KSS-01-13
11  KSS-01-10
12  KSS-01-14
13  KSS-01-17
14  KSS-01-18
15   KSS-01-1
16   KSS-01-2
17   PS-01-16
18   PS-01-15
19    PS-01-9
20   PS-01-13
21   PS-01-14
22    PS-01-6
23    PS-01-3
24   PS-01-10
25    PS-01-2
26    PS-01-5
27    VL-02-2
28    VL-02-3
29    VL-02-5
30    VL-02-6
31    VL-02-4
32    VL-02-1
33    KL-05-2
34    KL-05-3
35    KL-05-1
36    KL-05-4

In [20]:
print(stage_3_data)

       Pos NR                        Profiil / Profile
0    VS-01-96  1 korruse välissein laudisega (galerii)
1    VS-01-94  1 korruse välissein laudisega (galerii)
2   VS-01-350  1 korruse välissein laudisega (galerii)
3   VS-01-351  1 korruse välissein laudisega (galerii)
4    VS-01-97  1 korruse välissein laudisega (galerii)
..        ...                                      ...
86   VL-02-10                Platsi ehitusega vahelagi
87   VL-02-11                Platsi ehitusega vahelagi
88   VL-02-12                Platsi ehitusega vahelagi
89        NaN                                      NaN
90        NaN                                      NaN

[91 rows x 2 columns]